ASSIGNMENT:

Ans.1.) MongoDB:
MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. MongoDB is built on a scale-out architecture that has become popular with developers of all kinds for developing scalable applications with evolving data schemas. As a document database, MongoDB makes it easy for developers to store structured or unstructured data.


Non- relational databases:
A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.


MongoDB over My SQL:
Organizations of all sizes are adopting MongoDB, especially as a cloud database, because it enables them to build applications faster, handle highly diverse data types, and manage applications more efficiently at scale.

1. Development is simplified as MongoDB documents map naturally to modern, object-oriented programming languages. 

2. Using MongoDB removes the complex object-relational mapping (ORM) layer that translates objects in code to relational tables. 

3. MongoDB’s flexible data model also means that your database schema can evolve with business requirements.

4. MySQL's rigid relational structure adds overhead to applications and slows developers down as they must adapt objects in code to a relational structure.
   
5. MongoDB can also be scaled within and across multiple distributed data centers, providing new levels of availability and scalability previously unachievable    with relational databases like MySQL. 

6. As your deployments grow in terms of data volume and throughput, MongoDB scales easily with no downtime, and without changing your application.
   In contrast, achieving scale with MySQL often requires significant custom engineering work.

Ans.2.) The features of MongoDB are:-

1. Ad-hoc queries for optimized, real-time analytics
When designing the schema of a database, it is impossible to know in advance all the queries that will be performed by end users. An ad hoc query is a short-lived command whose value depends on a variable. Each time an ad hoc query is executed, the result may be different, depending on the variables in question.
Optimizing the way in which ad-hoc queries are handled can make a significant difference at scale, when thousands to millions of variables may need to be considered. This is why MongoDB, a document-oriented, flexible schema database, stands apart as the cloud database platform of choice for enterprise applications that require real-time analytics. With ad-hoc query support that allows developers to update ad-hoc queries in real time, the improvement in performance can be game-changing.

2. Indexing appropriately for better query executions
The number one issue that many technical support teams fail to address with their users is indexing. Done right, indexes are intended to improve search speed and performance. A failure to properly define appropriate indices can and usually will lead to a myriad of accessibility issues, such as problems with query execution and load balancing.MongoDB offers a broad range of indices and features with language-specific sort orders that support complex access patterns to datasets.Notably, MongoDB indices can be created on demand to accommodate real-time, ever-changing query patterns and application requirements. They can also be declared on any field within any of your documents, including those nested within arrays.

3. Replication for better data availability and stability
When your data only resides in a single database, it is exposed to multiple potential points of failure, such as a server crash, service interruptions, or even good old hardware failure. Any of these events would make accessing your data nearly impossible.In MongoDB, replica sets are employed for this purpose. A primary server or node accepts all write operations and applies those same operations across secondary servers, replicating the data. If the primary server should ever experience a critical failure, any one of the secondary servers can be elected to become the new primary node. And if the former primary node comes back online, it does so as a secondary server for the new primary node.

4. Sharding
sharding in MongoDB allows for much greater horizontal scalability.Horizontal scaling means that each shard in every cluster houses a portion of the dataset in question, essentially functioning as a separate database. The collection of distributed server shards forms a single, comprehensive database much better suited to handling the needs of a popular, growing application with zero downtime.All operations in a sharding environment are handled through a lightweight process called mongos. Mongos can direct queries to the correct shard based on the shard key. Naturally, proper sharding also contributes significantly to better load balancing.

5. Load balancing
Fortunately, via horizontal scaling features like replication and sharding, MongoDB supports large-scale load balancing. The platform can handle multiple concurrent read and write requests for the same data with best-in-class concurrency control and locking protocols that ensure data consistency. There’s no need to add an external load balancer—MongoDB ensures that each and every user has a consistent view and quality experience with the data they need to access.

Ans.3.) Connecting MongoDB to Python:

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 16.3 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb+srv://pwskills:<password>@cluster0.2esyu7g.mongodb.net/?retryWrites=true&w=majority")
db = client.test

Step1: Establish the connectivity:

In [5]:
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.2esyu7g.mongodb.net/?retryWrites=true&w=majority")

Step2: Create a database:

In [6]:
db = client['Assignment']

Step3: Create a Collection:

In [7]:
new_coll = db['Assign data']

Step4: Create data

In [8]:
data = {'name':'Monika',
       'status': 'Active',
       'Age':23,
       'Subject':'Data Science Masters'}

Step5: Insert data into the Collection

In [9]:
new_coll.insert_one(data)

In [10]:
# Now we can see the data in the MongoDB Atlas platform in the new collection"Assign data" inside the new database "Assignment" created.

Ans.4.) Inserting one record :

In [11]:
data1 = {'name':'Cassandra',
        'Age':25,
        'status':'Passive',
        'Subject':'Web Development'}

In [12]:
new_coll.insert_one(data1)

Inserting many records:

In [13]:
data2 = [{'name':'Aphora', 'Age': 20 , 'status':'Active'},
         {'name':'Veronica', 'Age': 23 , 'status':'Active'},
         {'name':'Sirus', 'Age': 27 , 'status':'Passive'},
         {'name':'Trinny', 'Age': 26 , 'status':'Active'},
         {'name':'Zeus', 'Age': 19 , 'status':'Passive'}]

In [14]:
new_coll.insert_many(data2)

-> fine_one() and find() to print inserted records:

In [15]:
new_coll.find_one()

{'_id': ObjectId('64632fa8b41035726e2107a8'),
 'name': 'Monika',
 'status': 'Active',
 'Age': 23,
 'Subject': 'Data Science Masters'}

In [16]:
for i in new_coll.find():
    print(i)

{'_id': ObjectId('64632fa8b41035726e2107a8'), 'name': 'Monika', 'status': 'Active', 'Age': 23, 'Subject': 'Data Science Masters'}
{'_id': ObjectId('64633197b41035726e2107a9'), 'name': 'Cassandra', 'Age': 25, 'status': 'Passive', 'Subject': 'Web Development'}
{'_id': ObjectId('646332a8b41035726e2107aa'), 'name': 'Aphora', 'Age': 20, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107ab'), 'name': 'Veronica', 'Age': 23, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107ac'), 'name': 'Sirus', 'Age': 27, 'status': 'Passive'}
{'_id': ObjectId('646332a8b41035726e2107ad'), 'name': 'Trinny', 'Age': 26, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107ae'), 'name': 'Zeus', 'Age': 19, 'status': 'Passive'}

Ans.5.) To find documents that match a set of selection criteria, call find() with the <criteria> parameter. MongoDB provides various query operators to specify the criteria. For a list of the query operators, see Query Selectors.
Here I am implementing the code for this.

In [17]:
# First, I am finding the data whose name is Monika:

for i in new_coll.find({'name':'Monika'}):
    print(i)

{'_id': ObjectId('64632fa8b41035726e2107a8'), 'name': 'Monika', 'status': 'Active', 'Age': 23, 'Subject': 'Data Science Masters'}

In [18]:
# Second, I am finding the data of people whose status is Active:

for i in new_coll.find({'status':'Active'}):
    print(i)

{'_id': ObjectId('64632fa8b41035726e2107a8'), 'name': 'Monika', 'status': 'Active', 'Age': 23, 'Subject': 'Data Science Masters'}
{'_id': ObjectId('646332a8b41035726e2107aa'), 'name': 'Aphora', 'Age': 20, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107ab'), 'name': 'Veronica', 'Age': 23, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107ad'), 'name': 'Trinny', 'Age': 26, 'status': 'Active'}

In [19]:
# Third, I am finding data of people whose Age is greater than 23:

for i in new_coll.find({'Age':{'$gte' : 23}}):
    print(i)

{'_id': ObjectId('64632fa8b41035726e2107a8'), 'name': 'Monika', 'status': 'Active', 'Age': 23, 'Subject': 'Data Science Masters'}
{'_id': ObjectId('64633197b41035726e2107a9'), 'name': 'Cassandra', 'Age': 25, 'status': 'Passive', 'Subject': 'Web Development'}
{'_id': ObjectId('646332a8b41035726e2107ab'), 'name': 'Veronica', 'Age': 23, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107ac'), 'name': 'Sirus', 'Age': 27, 'status': 'Passive'}
{'_id': ObjectId('646332a8b41035726e2107ad'), 'name': 'Trinny', 'Age': 26, 'status': 'Active'}

Ans.6.) Specifies the order in which the query returns matching documents. You must apply sort() to the cursor before retrieving any documents from the    database.The sort parameter contains field and value pairs, in the following form:{ field: value} .

In [25]:
# Using sort() to sort the Age of all the people in data present in the collection:

# Increasing order:

for i in new_coll.find().sort('Age'):
    print(i)

{'_id': ObjectId('646332a8b41035726e2107ae'), 'name': 'Zeus', 'Age': 19, 'status': 'Passive'}
{'_id': ObjectId('646332a8b41035726e2107aa'), 'name': 'Aphora', 'Age': 20, 'status': 'Active'}
{'_id': ObjectId('64632fa8b41035726e2107a8'), 'name': 'Monika', 'status': 'Active', 'Age': 23, 'Subject': 'Data Science Masters'}
{'_id': ObjectId('646332a8b41035726e2107ab'), 'name': 'Veronica', 'Age': 23, 'status': 'Active'}
{'_id': ObjectId('64633197b41035726e2107a9'), 'name': 'Cassandra', 'Age': 25, 'status': 'Passive', 'Subject': 'Web Development'}
{'_id': ObjectId('646332a8b41035726e2107ad'), 'name': 'Trinny', 'Age': 26, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107ac'), 'name': 'Sirus', 'Age': 27, 'status': 'Passive'}

In [26]:
# Decreasing order:

for i in new_coll.find().sort('Age',-1):
    print(i)

{'_id': ObjectId('646332a8b41035726e2107ac'), 'name': 'Sirus', 'Age': 27, 'status': 'Passive'}
{'_id': ObjectId('646332a8b41035726e2107ad'), 'name': 'Trinny', 'Age': 26, 'status': 'Active'}
{'_id': ObjectId('64633197b41035726e2107a9'), 'name': 'Cassandra', 'Age': 25, 'status': 'Passive', 'Subject': 'Web Development'}
{'_id': ObjectId('64632fa8b41035726e2107a8'), 'name': 'Monika', 'status': 'Active', 'Age': 23, 'Subject': 'Data Science Masters'}
{'_id': ObjectId('646332a8b41035726e2107ab'), 'name': 'Veronica', 'Age': 23, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107aa'), 'name': 'Aphora', 'Age': 20, 'status': 'Active'}
{'_id': ObjectId('646332a8b41035726e2107ae'), 'name': 'Zeus', 'Age': 19, 'status': 'Passive'}

Ans.7.) delete_one() -> deleteOne() deletes the first document that matches the filter. Use a field that is part of a unique index such as _id for precise deletions.

delete_many() -> The deleteMany() method allows you to remove all documents that match a condition from a collection. In this syntax: filter is a document that specifies deletion criteria. If the filter is an empty document {} , the deleteMany() method will delete all documents from the collection.

drop() -> In MongoDB, db. collection. drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.

In [28]:
# delete_one()
new_coll.delete_one({'name':'Zeus'})

In [29]:
# delete_many()
new_coll.delete_many({'status':'Active'})

In [31]:
# drop()
new_coll.drop()