# Module24 Database MySQL Assignment

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1.  Database: A structured collection of data that allows users to store, retrieve, update, and manage information efficiently. It is managed by a Database Management System (DBMS).

## SQL vs. NoSQL Databases:

### SQL (Relational Database)

1.) Structure - Tabular format (Rows & Columns)

2.) Schema - Fixed schema (Predefined structure)

3.) Scalability - Vertical (Add more power to a single machine)

4.) Examples - MySQL, PostgreSQL, SQLite, Oracle

5.) Transactions - 	Supports ACID (Atomicity, Consistency, Isolation, Durability)

6.) Best For - Complex queries, structured data, consistency

7.) Use case - Banking systems, ERP, CRM


### NoSQL (Non-Relational Database)

1.) Structure - Document, Key-Value, Column-Family, Graph

2.) Schema - Dynamic schema (Flexible structure)

3.) Scalability - Horizontal (Add more servers/nodes)

4.) Examples - MongoDB, Cassandra, Redis, DynamoDB

5.) Transactions - BASE (Basically Available, Soft state, Eventually consistent)

6.) Best For - Large-scale, unstructured data, flexibility

7.) Use case - Big data, real-time analytics, IoT

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2.  DDL (Data Definition Language): Used to define, modify, or delete the structure of database objects (tables, indexes, schemas).


1. CREATE Statement
Used to create tables, databases, and indexes.


```
CREATE DATABASE school;

CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);
```
2. DROP Statement
Deletes tables or databases permanently.



```
DROP TABLE students;  -- Deletes the students table
DROP DATABASE school; -- Deletes the school database

```
3. ALTER Statement
Used to modify an existing table (add, delete, or modify columns).



```
ALTER TABLE students ADD COLUMN email VARCHAR(100); -- Add column
ALTER TABLE students DROP COLUMN age;               -- Delete column
ALTER TABLE students MODIFY COLUMN name TEXT;       -- Modify column

```

4. TRUNCATE Statement
Removes all rows from a table but keeps the structure intact.

```
TRUNCATE TABLE students;  -- Deletes all records from students

```

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3.  DML (Data Manipulation Language): Used to manipulate data (add, modify, delete) in a database.

1. INSERT Statement
Adds new rows to a table.

```
INSERT INTO students (id, name, age) VALUES (1, 'Monika', 25);

```

2. UPDATE Statement
Modifies existing records.

```
UPDATE students SET age = 26 WHERE id = 1;

```

3. DELETE Statement
Removes records from a table.



```
DELETE FROM students WHERE id = 1;

```

Q4. What is DQL? Explain SELECT with an example.

A4.  DQL (Data Query Language): Used to retrieve data from a database.

SELECT Statement
Fetches data from tables.


```
SELECT * FROM students;             -- Select all columns
SELECT name, age FROM students;      -- Select specific columns
SELECT * FROM students WHERE age > 20; -- With condition

```

Q5. Explain Primary Key and Foreign Key.

A5.

## Primary Key:

A unique identifier for each record in a table.
Ensures uniqueness and non-null values.

## Foreign Key:

Links a column in one table to the primary key of another table.
Maintains referential integrity between tables.

### Example:


```
CREATE TABLE departments (
    dept_id INT PRIMARY KEY,
    dept_name VARCHAR(50)
);

CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    emp_name VARCHAR(50),
    dept_id INT,
    FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
);

```

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

A6.

Step1: Install MySQL Connector (if not installed):


```
pip install mysql-connector-python

```

Step2: Python Code to Connect to MySQL:

```
import mysql.connector

# Establish connection
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="school"
)

cursor = conn.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM students;")

# Fetch and print results
for row in cursor.fetchall():
    print(row)

# Close connection
cursor.close()
conn.close()

```

## Explanation of cursor() and execute()

1.) cursor(): Creates a cursor object to interact with the database.

2.) execute(): Executes SQL commands (e.g., SELECT, INSERT).

Q7. Give the order of execution of SQL clauses in an SQL query.

A7. The order of execution of SQL clauses in an SQL query are-

1. FROM - Identify the source table.

2. JOIN - Perform joins between tables.

3. WHERE - Filter rows based on conditions.

4. GROUP BY - Group rows with common values.

5. HAVING - Filter grouped data.

6. SELECT - Specify which columns to retrieve.

7. ORDER BY - Sort the result set.

8. LIMIT/OFFSET - Restrict the number of rows returned.



```
SELECT dept_id, COUNT(*)
FROM employees
WHERE age > 30
GROUP BY dept_id
HAVING COUNT(*) > 5
ORDER BY COUNT(*) DESC
LIMIT 10;

```

## Execution Order:

1.) FROM

2.) WHERE

3.) GROUP BY

4.) HAVING

5.) SELECT

6.) ORDER BY

7.) LIMIT