Q1. List any five functions of the pandas library with execution.

In [16]:
# A1. 5 Pandas library functions with execution

import pandas as pd
import numpy as np

# Sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

#1.) head() -> Displays the first n rows
print('1. head(): \n', df.head())

#2.) describe() -> Provide Summary statistics
print('\n2. describe(): \n', df.describe())

#3.) info() -> Provides inforamtion about Dataframe
print('\n3. info(): \n', df.info())

#4.) isnull() -> Detect missing values
print('\n4. isnull(): \n', df.isnull())

#5.) drop() -> Drops specified labels from rows/columns
print("\n5. drop('B', axis=1):\n", df.drop('B', axis=1))

1. head():
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

2. describe():
          A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

3. info():
 None

4. isnull():
        A      B      C
0  False  False  False
1  False  False  False
2  False  False  False

5. drop('B', axis=1):
    A  C
0  1  7
1  2  8
2  3  9

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [17]:
# A2. Re-index dataframe with a new index starts from 1 and increments by 2.

def reindex_dataframe(df):
  df.index = range(1, 2* len(df)+1, 2)
  return df

# Using the same dataframe in Q1.
print("\n Original dataframe is : \n", df)
print("\n Re-indexed dataframe is : \n", reindex_dataframe(df))

 Original dataframe is :
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

 Re-indexed dataframe is :
    A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [18]:
# A3. Summation of first 3 values in the 'Values' column

def get_sum(df):
  return df['Values'].iloc[:3].sum()

value_df = pd.DataFrame({'Values': [10,20,30,40,50]})
print("Original dataframe is :\n", value_df)
print("\nSum of the first 3 values in the Values column: ", get_sum(value_df))

Original dataframe is :
    Values
0      10
1      20
2      30
3      40
4      50

Sum of the first 3 values in the Values column:  60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [19]:
# A4. Creating a new column to count number of words in a text.

import pandas as pd

def get_word_count(df):
  df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
  return df

text_df = pd.DataFrame({'Text': ['Hello World', 'Pandas is fun',
                                 'KungFu Panda I mean', 'Monika is GREAT',
                                 'A grandpa is an old old old man, he has cat']})
print("DataFrame with Word count column is: ", get_word_count(text_df))

DataFrame with Word count column is:                                            Text  Word_Count
0                                  Hello World           2
1                                Pandas is fun           3
2                          KungFu Panda I mean           4
3                              Monika is GREAT           3
4  A grandpa is an old old old man, he has cat          11

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [20]:
# A5. # size: Total number of elements (rows * columns)
# shape: Tuple representing dimensions (rows, columns)

print("\nSize of DataFrame:", df.size)
print("Shape of DataFrame:", df.shape)

Size of DataFrame: 9
Shape of DataFrame: (3, 3)

Q6. Which function of pandas do we use to read an excel file?

A6. To read an excel file, we use Pandas function as
```
 pd.read_excel('file_path.xlsx')
 ```

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'
column.

In [21]:
# A7. Extracting username from the email.

def get_username(df):
  df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
  return df

email_df = pd.DataFrame({'Email': ['haiti34@gmail.com',
                                   'ymitri45@gmail.com',
                                   'haiku@gmail.com',
                                   'sake67@gmail.com',
                                   'arako@yahoo.com',
                                   'xaiuzu@yahoo.com',
                                   'jenko12@gmail.com']})

print("Dataframe with the username columnn is: ", get_username(email_df))

Dataframe with the username columnn is:                  Email  Username
0   haiti34@gmail.com   haiti34
1  ymitri45@gmail.com  ymitri45
2     haiku@gmail.com     haiku
3    sake67@gmail.com    sake67
4     arako@yahoo.com     arako
5    xaiuzu@yahoo.com    xaiuzu
6   jenko12@gmail.com   jenko12

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows:

A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [22]:
# A8. Filtering the dataframe with the given condition.

def filter_df(df):
  return(df[(df['A'] > 5) & (df['B'] < 10)])

df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

print("Filtered Dataframe is: \n", filter_df(df))

Filtered Dataframe is:
    A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [23]:
# A9. Calculating the mean, median and standard deviation of the values.

def get_averages(df):
  mean = df['Values'].mean()
  median = df['Values'].median()
  std = df['Values'].std()
  return mean, median, std

value_df = pd.DataFrame({'Values': [10,20,30,40,50]})
print("Original dataframe is :\n", value_df)
print("\n Mean, median and standard deviation are: ", get_averages(value_df))

Original dataframe is :
    Values
0      10
1      20
2      30
3      40
4      50

 Mean, median and standard deviation are:  (30.0, 30.0, 15.811388300841896)

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [24]:
# A10. Calculating the Moving average for the sales data


def get_moving_average(df):
  df['Moving_Average'] = df['Sales'].rolling(window = 7, min_periods = 1).mean()
  return df

sales_df = pd.DataFrame({
    'Date': pd.date_range(start='2025-01-01', periods=10),
    'Sales': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
})

print("Moving average is: \n", get_moving_average(sales_df))

Moving average is:
         Date  Sales  Moving_Average
0 2025-01-01    100           100.0
1 2025-01-02    200           150.0
2 2025-01-03    300           200.0
3 2025-01-04    400           250.0
4 2025-01-05    500           300.0
5 2025-01-06    600           350.0
6 2025-01-07    700           400.0
7 2025-01-08    800           500.0
8 2025-01-09    900           600.0
9 2025-01-10   1000           700.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [25]:
#A11. Finding Weekday for the dates

def get_weekday(df):
  df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
  return df

date_df = pd.DataFrame({'Date': pd.date_range(start = '2025-05-01', periods = 10)})
print("Weekday fo the dates are: \n", get_weekday(date_df))

Weekday fo the dates are:
         Date    Weekday
0 2025-05-01   Thursday
1 2025-05-02     Friday
2 2025-05-03   Saturday
3 2025-05-04     Sunday
4 2025-05-05     Monday
5 2025-05-06    Tuesday
6 2025-05-07  Wednesday
7 2025-05-08   Thursday
8 2025-05-09     Friday
9 2025-05-10   Saturday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [26]:
# A12. Selecting rows betweeen 2 dates

def filter_rows(df):
  df['Date'] = pd.to_datetime(df['Date'])
  return df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

date_df2 = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods= 60)})
print("Rows between 2023-01-01 to 2023-01-31 are: \n", filter_rows(date_df2))

Rows between 2023-01-01 to 2023-01-31 are:
          Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [27]:
# A13. The first and foremost necessary library is pandas.

print("\nFirst necessary library: pandas")

First necessary library: pandas