# Module13 Python Basics Assignment 2

Q1. Write a program to acccept percentage from the user and display the grade according to the following criteria.
```
Marks, Grade

>90, A

>80 and <=90, B

>=60 and <=80, C

Below 60, D


```

In [ ]:
# A1. Program to accept percentage and display grade.

percentage = int(input("Enter your percentage: "))

if percentage > 90 :
  print("Grade: A")
elif percentage > 80 and percentage <= 90 :
  print("Grade: B")
elif percentage >= 60 and percentage <= 80 :
  print("Grade: C")
else :
  print("Grade: D")

Enter your percentage: 33
Grade: D

Q2. Write a program to accept the cost price of a bike and display the road tax to be paid acccording to the following criteria:
```
Tax, Cost Price(in Rs)

15%, > 100000

10%, > 50000 and <= 100000

5%, <=50000

```

In [ ]:
# A2. Program to accept the cost price of a bike and display the road tax to be paid.

cost_price = int(input("Enter the cost price of the bike: "))

if cost_price > 100000 :
  print("Road tax to be paid: 15% and i.e. Rs", cost_price * 0.15)
elif cost_price > 50000 and cost_price <= 100000 :
  print("Road tax to be paid: 10% and i.e. Rs", cost_price * 0.10)
else :
  print("Road tax to be paid: 5% and i.e. Rs", cost_price * 0.05)

Enter the cost price of the bike: 300000
Road tax to be paid: 15% and i.e. Rs 45000.0

Q3. Accept any city from the user and display monuments of that city.

```
City, Monument

Delhi, Red Fort

Agra, Taj Mahal

Jaipur, Jal Mahal

```

In [ ]:
# A3. Program to display monuments of the entered city

city = input("Enter the city name: ")

if city.lower() == "delhi" :
  print("Monument: Red Fort")
elif city.lower() == "agra" :
  print("Monument: Taj Mahal")
elif city.lower() == "jaipur" :
  print("Monument: Jal Mahal")

Enter the city name: Agra
Monument: Taj Mahal

Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [ ]:
# A4. Program to check given number can be divided by 3 before it is less than or equal to 10.

num = int(input("Enter a number: "))
count = 0

while num > 10:
  num = num / 3
  count = count + 1

print("No. of times the given number can be divided by 3 is: ", count)

Enter a number: 600
No. of times the given number can be divided by 3 is:  4

Q5. Why and when to use while loop in Python give a detailed description with example.

A5. Reasons to use while loop are :-

1. Condition-Based Iteration: A while loop is ideal when the termination condition depends on a variable or external input that may change during execution.

2. Unknown Number of Iterations: Use while when you donâ€™t know beforehand how many times the loop needs to execute (e.g., reading data until EOF, waiting for user input).

3. Infinite Loops: A while loop can create infinite loops (useful for event-driven programs like servers or games) by ensuring the condition is always True.

When to Use a while Loop?

1. Dynamic Conditions: If the loop depends on a condition that is dynamically updated inside the loop, such as reaching a certain user-defined threshold.

2. User Input Validation: When validating user input and prompting again if invalid.

3. Event-Driven Scenarios: In real-time applications where the program needs to wait for a specific event or condition.

4. Reading Data Streams: Reading data until there is no more data (e.g., reading lines from a file or data from a sensor).

In [ ]:
# Implementation of while loop :-

count = 0
while True:
  print("Monika")
  count = count + 1
  if count == 5:
    break

Monika
Monika
Monika
Monika
Monika

Q6. Use nested while loop to print 3 different pattern.

In [5]:
# A6. Program to print patterns

tot_rows = 6

row = 1

while row <= tot_rows:
  col = 1
  while col <= row:
    print("*", end = " ")
    col = col + 1

  print() # move to the next line
  row = row + 1

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
# Pattern 2

rows = 5

while rows > 0 :
  col = 1
  while col <= rows :
    print("*", end = " ")
    col = col + 1

  print()
  rows = rows - 1

In [14]:
# Pattern 3
tot_rows = 5
row = 1

while row <= tot_rows:

  # Printing spaces
  spaces = tot_rows - row
  while spaces > 0:
    print(" ", end = " ")
    spaces = spaces - 1

  # Printing stars
  col = 1
  while col <= row:
    print("*", end = "   ")
    col = col + 1


  print()
  row = row + 1

        *
      *   *
    *   *   *
  *   *   *   *
*   *   *   *   *

Q7. Reverse a while loop to display numbers from 10 to 1.

In [16]:
# A7. Program to reverse while loop to display numbers from 10 to 1.

num = 10

while num > 0:
  print(num)
  num = num - 1

10
9
8
7
6
5
4
3
2
1

Q8. Reverse a while loop to display numbers from 10 to 1.

In [17]:
# A8. Program to reverse while loop to display numbers from 10 to 1.

num = 10

while num > 0:
  print(num)
  num = num - 1

10
9
8
7
6
5
4
3
2
1